html {
    width: 100%;
    height: 100%;
}

body {
    margin: 1rem;
    background-color: dodgerblue;
    color: black;
    font-size: 5rem;
    overflow: hidden;

    background: dodgerblue url("../img/leaves.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* shorthand, but has issues on Safari */
    /* background: black url("../img/flames.gif") no-repeat center/cover; */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin: 10% 4rem 0 4rem;
}


}

.last {
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(220, 200, 180);
}

/* CSS Animation example */


h1 {
  color: #24292e;
  text-shadow: 0 0 10px #595442, 0 0 20px #595442, 0 0 30px #595442;
}

h2 {
    color: #24292e;
    text-shadow: 0 0 10px #595442, 0 0 20px #595442, 0 0 30px #595442;
}

h3 {
    color: #24292e;
    text-shadow: 0 0 10px #595442, 0 0 20px #595442, 0 0 30px #595442;

.glow-box {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
}

div {
    transition-property: transform;
    transition-duration: 10s;
}

/* body {
    transition-property: transform;
    transition-duration: 3s;
} */
